*{
    margin: 0;
    margin-top: -10px;
}
@font-face{
    font-family: 'Poppins';
    src: url("https://fonts.google.com/specimen/Poppins") format('woff2');

}

body{
    font-family: 'Open Sans';
}
  .wrapper{
    width: 375px;
    margin: 0 auto;
}

header{
    background-image: url('./img/bg-hero-mobile.svg');
    /* background-color: rgba(221, 239, 255, 0.45);  */
    background-color: hsl(193, 100%, 96%);
    font-family: 'Poppins';

}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

#logo{
    width: 120px;
    height: 20px;
}
.nav-button{
    width: 120px;
    background: white;
    color: black;
    padding: 5px;
    border-radius: 30px;
    border: 0px;
    -webkit-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
}
.header-text{
    margin: 10px 30px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
}

.header-text__title{
    padding: 10px 0;
}

.header-button{
    background: hsl(322, 100%, 66%);
    color: white;
    text-align: center;
    padding: 10px;
    width: 250px;
    border-radius: 70px;
    border: 0px;
    -webkit-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
    margin: 30px 0;
}


#mockup{
    width: 320px;
    height: 250px;
    margin: 10px 30px;
}

#grow, #conversation, #users{
    width: 310px;
    height: 240px;
    margin: 35px;
}
.container{
    width: 350px;
    border: 0px solid black;
    border-radius: 15px;
    margin: 35px auto;
    text-align: center;
    -webkit-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.3);
    box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.3);
}

.container__title{
    padding: 15px 0;
    font-weight: 600;
}

.container__content{
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 35px;
    font-weight: 400;
}

.container__form{
    width: 350px;
    border: 0px solid black;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.3);
    box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.3);
    background: white;
    padding: 30px 0;
    margin-bottom: -60px;
    z-index: 999 !important;
    position: relative;
    /* position: relative; */
}

.container__form-title{
    /* padding-bottom: 10px; */
}

.container__form-content{
    background: hsl(322, 100%, 66%);
    color: white;
    text-align: center;
    padding: 10px;
    width: 250px;
    border-radius: 70px;
    border: 0px;
    -webkit-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 24px -8px rgba(0,0,0,0.75);
    margin: 10px 0;
}

footer{
    padding:0 5px;
}
.footer{
    padding-top: 100px;
    background:hsl(192, 100%, 9%);
    color: white;
    display: flex;
    flex-direction: column;
    /* z-index: -1; */
    /* font-family: 'Open Sans'; */
}

.footer__logo{
width: 160px;
height: 25px;    
margin: 20px 10px;
}
.footer__icons{
    flex-direction: column;
}
.footer__icon{
    display:flex;
    text-align: left;
    margin: 30px 0;
}
.fas{
    margin:-5px 20px 0 10px;
}

.footer__icon-text{
    padding-right: 5px;
}
.footer__ul{
    margin: 40px 10px;
}
.footer__ul-li{
    list-style-type: none;
    text-align: left;
    padding: 10px 15px;
    margin-left: -50px;
    font-size: 20px;

}

.footer__ul-li a{
    text-decoration: none;
    color: white;
}

.footer__ul-li a:hover{
    font-size: 25px;
}

.contact{
    display: inline;
    text-align: center;
    margin-bottom: 10px;
}

.contact .fab{
    color: white;
    border: 0.5px solid lightgray;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.contact .fab:hover{
    color: hsl(192, 100%, 9%);
    background: white;
}

.footer__copyright{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 14px;
}